/* Styles to set the loading animation up*/

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    margin: -125px 0 0 -125px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3D3825;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #E9AD05;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
.loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #886B17;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

@font-face {
    font-family: 'open-sans';
    src: url('../fonts/opensans/OpenSans-Regular-webfont.eot');
    src: url('../fonts/opensans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/opensans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #e9e9e9 !important;
}

/*Kinda hacky stuff to workaround the nuka slider*/
.slider-decorator-0, .slider-decorator-1, .slider-decorator-2 {
    display: none;
}

.logo-img {
	width: 230px;
    border-radius: 115px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -90px;
    margin-left: -90px;
}

.container {
    /*Just in case I need to overwrite something from bootstrap, but so far
    its looking cool in large screens*/
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    color: #eeeeee;
    font-family: open-sans;
    padding: 10px;
    background-image: url("../images/logo.png");
    background-color: #1f242a;
    background-size: contain;
    background-repeat: no-repeat;
}

.header h1 {
    font-size: 4.5rem;
    text-align: center;
}

.header-slider {
    text-align: center;
}

.profile-list {
    margin-top: 200px;
}

.profile-list-item {
    margin: 0 25px 0 25px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    border: 1px solid #d3d3d3 !important;
    font-size: 25px;
    text-align: center;
}

.profile-list-item_rank {
    border-radius: 100px;
    background-color: #3894c6;
    font-size: 20px;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    color: #eeeeee;
    position: absolute;
    top: -25px;
    left: -25px;
    overflow: visible;
}

.profile-image {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.profile-image img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.profile-image img.portrait {
    width: 100%;
    height: auto;
}

.profile-list .slider-frame .slider-list {
    margin-top: 25px !important; 
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    color: #eeeeee;
    font-size: 25px;
    font-family: open-sans;
    padding: 10px;
    background-image: url("../images/th.png");
    background-color: #1f242a;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

.footer-slider {
    text-align: center;
}